.page
  .theme-default-content
    &:not(.custom)
      max-width: 1200px;
    div[class*="language-"]
      background-color: #1a202c;
      pre code, pre[class*="language-"] code
        color: rgb(214, 222, 235);
        .token.selector, .token.important, .token.atrule, .token.keyword
          color: rgb(127, 219, 202);
        .token.punctuation  // 标点符号 () {} [] . , ;
          color: rgb(199, 146, 234);
        .token.builtin // 内置命令: string、number、console等
          color: rgb(255, 203, 139);
        .token.constant // 常量
          color: rgb(130, 170, 255);
        .token.number // 数字
          color: rgb(247, 140, 108);
        .token.string, .token.char, .token.attr-value, .token.regex, .token.variable
          color: rgb(173, 219, 103);
        .token.property, .token.class-name, .token.symbol
          color: #f8b344;
        .token.operator, .token.entity, .token.url
          color: rgb(127, 219, 202);
        .token.boolean, .token.function   // 布尔值、方法
          color:rgb(130, 170, 255);
    div[class*="language-"]::before   // 右上角语言
      color: rgba(255, 255, 255, .8);
    div[class*="language-"] .highlight-lines .highlighted   // 高亮行
      background-color: rgba(153,248,149,0.66);
    p code
      color: #56cd95;
      font-weight: 700;

  .page-edit, .page-nav
    max-width: 1200px;
.customer-page-class
  color: #fb3;
  background-color: #333;
.navbar
  box-shadow: 0 2px 5px rgba(0,0,0,0.1)
.theme-bg
  padding: 10px 20px;
  background-color: #282c34;
  color: #fb3;
  border-radius: 5px;

//修改滚动条样式 start
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  // background-color: rgba(0,0,0,0.1);
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // background-color: rgba(0,0,0,0.1);
}
//修改滚动条样式 end