.page
  .theme-default-content
    &:not(.custom)
      max-width: 1200px;
    code
      color: #42b983;
      font-weight: 700;
  .page-edit, .page-nav
    max-width: 1200px;
.customer-page-class
  color: #fb3;
  background-color: #333;
.navbar
  box-shadow: 0 2px 5px rgba(0,0,0,0.1)
.theme-bg
  padding: 10px 20px;
  background-color: #282c34;
  color: #fb3;
  border-radius: 5px;